<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
 th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>

<section style="margin-top:10%">


<div class="card border-success mb-3 mt-10 text-center" style="width: 100%; border-radius: 1%; background: #e2e2e2!important;">
  <div class="card-body text-success text-center">
 <ul class="list-group">
  <li class="list-group-item disabled" style="background: #e2e2e2!important;">About ProximityContact</li>
    <li class="list-group-item" style="background: #e2e2e2!important;">Create your account by registration</li>
    <li class="list-group-item" style="background: #e2e2e2!important;">Open your account by login page</li>
  <li class="list-group-item" style="background: #e2e2e2!important;">You can add your proximity contacts</li>
  <li class="list-group-item" style="background: #e2e2e2!important;">Each Account has their own segment</li>
  <li class="list-group-item" style="background: #e2e2e2!important;">Providing security when password save in database mean password save in encrypted form</li>
  <li class="list-group-item" style="background: #e2e2e2!important;">You can edit your proximity contact information</li>
</ul>
  </div>
</div>


</section>

</body>
</html>